<table>
  <% @likes.each do |like| %>

      <td>
        ID <%= like.id %>
      </td>

      <td>
        投稿ID <%= like.post.id %>
      </td>

      <td>
        ユーザーID <%= like.user.name %>
      </td>

  <% end %>
</table>